# VPN address for the server (e.g., 10.0.0.1/24)
WG_SERVER_ADDRESS=10.0.0.1/24

# WireGuard listen port
WG_SERVER_PORT=51820

# Public endpoint for clients to connect (e.g., your public IP:port)
WG_SERVER_ENDPOINT=YOUR_PUBLIC_IP:51820

# Base url of VPN server
VPN_BACKEND_URL=http://YOUR_PUBLIC_IP:5003

# Allowed IPs for clients (comma-separated)
WG_ALLOWED_IPS=172.18.0.0/16,172.28.0.0/16,172.29.0.0/16,10.0.0.0/24